canvas#c {
    width: 800px;
}

div.container {
    margin: 10px auto;
    width: 800px;
}

div#console {
    background-color: black;
    box-sizing: border-box;
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-family: "Rubik Dirt", system-ui;
}

div#console > div#output {
    flex: 1;
    overflow-y: auto;
    white-space: pre;
    box-sizing: border-box;
    padding: .5rem;
    font-family: courier;
    color: #55ff55;
}

div#output > p {
    padding: 0;
    margin: 0;
    line-height: 1rem;
    white-space: pre-line;
}

div#output > p:empty:before {
  content: ' ';
  white-space: pre;
}

div#output > p.important {
    background-color: #2b882b;
    padding: .5rem;
    color: white;
}

div.bang {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px white;
    color: #55ff55;
    font-weight: 500;
    padding: .5rem;
    gap: .5rem;
}

div.bang > input {
    flex: 1;
    background-color: black;
    border: none;
    color: #55ff55;
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
