body {
    background-color: black;
    font-family: courier;
}

canvas#c {
    width: 1000px;
    height: 0px;
    transition: height 0.5s ease-out;
    overflow: hidden;
    border: solid 1px #333;
}

div#status {
    top: 0;
    left: 0;
    height: 100px;
    position: absolute;
    pointer-events: none;
    color: white;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: pre-wrap;
    font-size: .8rem;
    padding: .5rem;
}

div.container {
    margin: 10px auto;
    width: 1000px;
    position: relative;
}

div.editor_modal {
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
    background-color: #333;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    & > div {
        height: 100%;
    }
    & textarea {
        flex-grow: 1;
        background-color: black;
        color: #55ff55;
    }
}

div.control {
    display: flex;
    flex-direction: row;
}

div.canvas-container {
    display: flex;
    align-items: center;
    height: 600px;
}

div#context {
    flex-grow: 1;
    background-color: black;
    height: 300px;
    color: white;
}

div.hidden {
    display: none !important;
}

div#nav {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 0.5rem;
    border-left: solid 1px #333;
}

div#nav > div {
    text-align: center;
    background: black;
    color: white;
    border: solid 1px #333;
    padding: .5rem;
    cursor: pointer;
    font-weight: bold;
}

div#nav > span {
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #999;
    margin-bottom: .5rem;
    font-size: .8rem;
}

div#nav > div:hover {
    background-color: #333;
}

div.active {
    background-color: #2b882b !important;
    color: white !important;
}

div.flex-row {
    display: flex;
    flex-direction: row;
}

div.flex-col {
    display: flex;
    flex-direction: column;
}

div.grow {
    flex-grow: 1;
}

div.justified {
    justify-content: space-between;
}

div#control_console {
    background-color: black;
    box-sizing: border-box;
    height: 300px;
    display: flex;
    flex-direction: column;
}

div#control_console > div#output {
    flex: 1;
    overflow-y: auto;
    white-space: pre;
    box-sizing: border-box;
    padding: .5rem;
    font-family: courier;
    color: #55ff55;
}

div#output > p {
    padding: 0;
    margin: 0;
    line-height: 1rem;
    white-space: pre-wrap;
}

div#output > p:empty:before {
  content: ' ';
  white-space: pre;
}

div#output > p.important {
    background-color: #2b882b;
    padding: .5rem;
    color: white;
}

div#output > p.header {
    background-color: #2b882b;
}

div#output > p.log {
    background-color: white;
    color: black;
}

div#output > p.error {
    background-color: #c33;
    color: white;
}

div#output > p.warning {
    background-color: #cc3;
    color: black;
}

div.bang {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px #333;
    color: #55ff55;
    font-weight: 500;
    padding: .5rem;
    gap: .5rem;
}

div.bang > input {
    flex: 1;
    background-color: black;
    border: none;
    color: #55ff55;
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

div.border {
    border: solid 1px #ccc;
    padding: .5rem;
    margin: .2rem;
}

div.justify-center {
    justify-content: center;
}

div.items-center {
    align-items: center;
}

div.flex-wrap {
    flex-wrap: wrap;
}

p.bold {
    font-weight: bold;
}

p.white {
    color: white;
}

p.black {
    color: black;
}
