body {
    font-family: courier;
}
canvas#c {
    width: 800px;
}

div.container {
    margin: 10px auto;
    width: 800px;
}

div.control {
    display: flex;
    flex-direction: row;
}

div#context {
    flex-grow: 1;
    background-color: black;
    height: 300px;
    color: white;
}

div#context > div.hidden {
    display: none !important;
}

div#nav {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 0.5rem;
    border-left: solid 1px #333;
}

div#nav > div {
    text-align: center;
    background: black;
    color: white;
    border: solid 1px #333;
    padding: .5rem;
    cursor: pointer;
    font-weight: bold;
}

div#nav > span {
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #999;
    margin-bottom: .5rem;
    font-size: .8rem;
}

div#nav > div:hover {
    background-color: #333;
}

div.active {
    background-color: #2b882b !important;
    color: white !important;
}

div.flex-row {
    display: flex;
    flex-direction: row;
}

div.flex-col {
    display: flex;
    flex-direction: column;
}

div.grow {
    flex-grow: 1;
}

div.justified {
    justify-content: space-between;
}

div#control_console {
    background-color: black;
    box-sizing: border-box;
    height: 300px;
    display: flex;
    flex-direction: column;
}

div#control_console > div#output {
    flex: 1;
    overflow-y: auto;
    white-space: pre;
    box-sizing: border-box;
    padding: .5rem;
    font-family: courier;
    color: #55ff55;
}

div#output > p {
    padding: 0;
    margin: 0;
    line-height: 1rem;
    white-space: pre-wrap;
}

div#output > p:empty:before {
  content: ' ';
  white-space: pre;
}

div#output > p.important {
    background-color: #2b882b;
    padding: .5rem;
    color: white;
}

div#output > p.log {
    background-color: white;
    color: black;
}

div#output > p.error {
    background-color: #c33;
    color: white;
}

div#output > p.warning {
    background-color: #cc3;
    color: black;
}

div.bang {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px white;
    color: #55ff55;
    font-weight: 500;
    padding: .5rem;
    gap: .5rem;
}

div.bang > input {
    flex: 1;
    background-color: black;
    border: none;
    color: #55ff55;
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

div.border {
    border: solid 1px #ccc;
    padding: .5rem;
    margin: .2rem;
}

div.items-center {
    align-items: center;
}
