body {
    background-color: black;
    font-family: courier;
}

canvas#c {
    width: 1000px;
    height: 0px;
    transition: height 0.5s ease-out;
    overflow: hidden;
    border: solid 1px #333;
}

div#welcome-modal {
    background-color: black;
    border: solid 1px #333;
    position: absolute;
    height: 100px;
    width: 300px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

div#status {
    top: 0;
    left: 0;
    height: 100px;
    position: absolute;
    pointer-events: none;
    color: white;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: pre-wrap;
    font-size: .8rem;
    padding: .5rem;
}

div.container {
    margin: 10px auto;
    width: 1000px;
    position: relative;
}

div.editor_modal {
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
    background-color: #333;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    & > div {
        height: 100%;
    }
    & textarea {
        flex-grow: 1;
        background-color: black;
        color: #55ff55;
    }

    & div#editor-errors {
        flex-grow: 1;
        background-color: black;
        color: #55ff55;
        & p {
            margin: 0;
            padding: 0;
            cursor: help;
            white-space: pre;
        }
        & p.is-error {
            background-color: #AA3333;
            & > span.mr {
                margin-right: .5rem;
            }
            & > span.err-arg {
                background-color: #FFFF00;
                color: black;
            }
        }
    }
    & #editor-name {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

div.control {
    display: flex;
    flex-direction: column;
}

div.canvas-container {
    display: flex;
    align-items: center;
    height: 600px;
}

div#context {
    flex-grow: 1;
    background-color: #080808;
    height: 300px;
    color: white;
}

.hidden {
    display: none !important;
}

div#nav {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    background: #080808;
    padding: 0.5rem;
    border: solid 1px #111;
}

div#nav > div {
    border-radius: 5px;
    text-align: center;
    background: black;
    color: white;
    border: solid 1px #333;
    padding: .5rem;
    cursor: pointer;
    font-weight: bold;
}

div#nav > span {
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #999;
    margin-bottom: .5rem;
    font-size: .8rem;
}

div#nav > div:hover {
    background-color: #333;
}

div.active {
    background-color: #2b882b !important;
    color: white !important;
}

div.flex-row {
    display: flex;
    flex-direction: row;
}

div.flex-col {
    display: flex;
    flex-direction: column;
}

div.grow {
    flex-grow: 1;
}

div.justified {
    justify-content: space-between;
}

div#control_console {
    background-color: #080808;
    box-sizing: border-box;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: solid 1px #111;
}

div#control_console > div#output {
    flex: 1;
    overflow-y: auto;
    white-space: pre;
    box-sizing: border-box;
    padding: .5rem;
    font-family: courier;
    color: #55ff55;
}

div#output > p {
    padding: 0;
    margin: 0;
    line-height: 1rem;
    white-space: pre-wrap;
}

div#output > p:empty:before {
  content: ' ';
  white-space: pre;
}

div#output > p.important {
    background-color: #2b882b;
    padding: .5rem;
    color: white;
}

div#output > p.header {
    background-color: #2b882b;
}

div#output > p.log {
    background-color: white;
    color: black;
}

div#output > p.error {
    background-color: #c33;
    color: white;
}

div#output > p.warning {
    background-color: #cc3;
    color: black;
}

div.bang {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: #55ff55;
    font-weight: 500;
    padding: .5rem;
    gap: .5rem;
}

div.bang > input {
    flex: 1;
    background-color: #080808;
    border: none;
    color: #55ff55;
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

div.border {
    border: solid 1px #ccc;
    padding: .5rem;
    margin: .2rem;
}

div.justify-center {
    justify-content: center;
}

div.items-center {
    align-items: center;
}

div.flex-wrap {
    flex-wrap: wrap;
}

p.bold {
    font-weight: bold;
}

p.white {
    color: white;
}

p.black {
    color: black;
}

div#screen-modal {
    z-index: 10;
    position: absolute;
    width: 950px;
    height: 500px;
    left: 25px;
    top: 50px;
    border: solid 1px #333;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    overflow-y: scroll;
}

div.interface-crafting {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    & > div.list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: .5rem;
        padding: 20px;
    }
    & > div.info {
        color: white;
    }
    & div.recipe {
        border-radius: 2px;
        background-color: #222;
        color: white;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        padding: .5rem;
        font-size: 0.8rem;
        cursor: pointer;
        & > div:last-child {
            white-space: nowrap;
        }
    }
    & div.recipe[data-quality="COMMON"] {
        border: solid 2px gray;
    }

    & div.recipe[data-quality="UNCOMMON"] {
        border: solid 2px #282;
    }

    & div.recipe[data-quality="RARE"] {
        border: solid 2px #228;
    }

    & div.recipe.selected {
        transform: translate(10px, 0px);
        outline: solid 3px #FFFF77;
    }
}
